<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/style.css">
    <title>Phlox</title>
  </head>
  <body>

    <div id="app">

      <header>
        <!-- navbar top -->
        <div class="top-nav">
          <div>
            <span>(001) 88451234</span>
            <span>88455438</span>
          </div>
          <div>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest-p"></i>
          </div>
        </div>
        <!-- navbar -->
        <nav class="nav">
          <img src="img/cropped-Group-39-2x.png" alt="">
          <ul class="nav-links">
            <li v-for="el in headerLinks">{{el.name}}</li>
          </ul>
          <div class="nav-button">
            <button class="green-button">purchase</button>
            <i class="fas fa-search"></i>
          </div>
        </nav>
      </header>

      <!-- main con jumbotron più 6 sezioni -->
      <main>

        <!-- jumbotron -->
        <div class="jumbotron">
          <div class="jumbotron-content">
            <div class="top-title">17 years of experience</div>
            <div class="main-title">We Are a<br> Web Design <span class="special-text">Agency</span></div>
            <div class="text">{{defaultText}}</div>
            <button class="black-button">read more</button>
            <div class="socials"><span>facebook</span> - <span>instagram</span> - <span>youtube</span> - <span>twitter</span></div>
            <div class="slider-num">
              <span>01</span>
              <span>02</span>
              <span>03</span>
            </div>
          </div>
          <img src="img/Group-36-2x.png" alt="">
        </div>

        <!-- sezione 1 -->
        <section class="sect-1">
          <div class="sect-1-left">
            <div class="title">We Are Here To Make Your <span class="special-text">Website</span> Look More <span class="special-text">Elegant</span> And Stylish!</div>
            <button class="green-button">view all</button>
          </div>
          <div class="sect-1-right">
            <div class="box">
              <i class="fas fa-tachometer-alt"></i>
              <div class="small-title">Speed Optimization</div>
              <div class="text">{{defaultShortText}}</div>
            </div>
            <div class="box">
              <i class="fas fa-cloud"></i>
              <div class="small-title">Cloud Solutions</div>
              <div class="text">{{defaultShortText}}</div>
            </div>
            <div class="box">
              <i class="fas fa-mobile-alt"></i>
              <div class="small-title">Website Design</div>
              <div class="text">{{defaultShortText}}</div>
            </div>
            <div class="box">
              <i class="fas fa-stopwatch"></i>
              <div class="small-title">Online Marketing</div>
              <div class="text">{{defaultShortText}}</div>
            </div>
          </div>
        </section>

        <!-- sezione 2 -->
        <section class="sect-2">
          <div class="images">
            <div class="under-img"></div>
            <img class="over-img" src="img/businesswoman-analysing-document-P8WSNMC-1024x820.jpg" alt="">
          </div>
          <div class="sect-2-content">
            <div class="title">learn more about our <span class="special-text">missions</span></div>
            <div class="text">{{defaultText}}</div>
            <button class="green-button">read more</button>
          </div>
        </section>

        <!-- sezione 3 -->
        <section class="sect-3">
          <div class="sect-3-content">
            <div class="title">Our recent <span class="special-text">web designs</span> & some examples of past <span class="special-text">projects</span></div>
            <div class="text">{{defaultText}} {{defaultShortText}}</div>
          </div>
          <div class="sect-3-images">
            <div class="project-box">
              <img src="img/ina-soulis-227104-unsplash-1024x1024.jpg" alt="">
              <div class="hover-text">
                <div class="project-title">The Basket of Flowers</div>
                <div class="project-links">
                  <span>branding </span>
                  <i class="fas fa-circle"></i>
                  <span> marketing</span>
                </div>
              </div>
            </div>
            <div class="project-box">
              <img src="img/sunisa-misa-531163-unsplash-1024x1024.jpg" alt="">
              <div class="hover-text">
                <div class="project-title">A Famous Ferris Wheel</div>
                <div class="project-links">
                  <span>marketing</span>
                </div>
              </div>
            </div>
            <div class="project-box">
              <img src="img/355H-1024x1024.jpg" alt="">
              <div class="hover-text">
                <div class="project-title">Complementary Colors</div>
                <div class="project-links">
                  <span>branding </span>
                  <i class="fas fa-circle"></i>
                  <span> marketing</span>
                </div>
              </div>
            </div>
            <div class="project-box">
              <img src="img/photo-1448932252197-d19750584e56-1024x1024.jpg" alt="">
              <div class="hover-text">
                <div class="project-title">Business Prestige</div>
                <div class="project-links">
                  <span>branding</span>
                </div>
              </div>
            </div>
            <div class="project-box">
              <img src="img/business-competition-PB366D8-1024x1024.jpg" alt="">
              <div class="hover-text">
                <div class="project-title">Colorful Origami Boats</div>
                <div class="project-links">
                  <span>branding </span>
                  <i class="fas fa-circle"></i>
                  <span> marketing</span>
                </div>
              </div>
            </div>
            <div class="project-box">
              <img src="img/cozy-sofa-in-living-room-PQR5AB9-1024x1024.jpg" alt="">
              <div class="hover-text">
                <div class="project-title">Modern Couch</div>
                <div class="project-links">
                  <span>marketing</span>
                </div>
              </div>
            </div>
            <div class="project-box">
              <img src="img/aa9a4539-PQGJ7HU-1024x1024.jpg" alt="">
              <div class="hover-text">
                <div class="project-title">Hot Air Balloons</div>
                <div class="project-links">
                  <span>branding </span>
                  <i class="fas fa-circle"></i>
                  <span> marketing</span>
                </div>
              </div>
            </div>
            <div class="project-box">
              <img src="img/cody-davis-253928-unsplash-1024x1024.jpg" alt="">
              <div class="hover-text">
                <div class="project-title">Make Difference</div>
                <div class="project-links">
                  <span>branding </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sect-3-button"><button class="green-button">read more</button></div>
        </section>

        <!-- sezione 4 -->
        <section class="sect-4">
          <i class="fas fa-quote-left special-text"></i>
          <div class="quote">When it comes to barbequing, there are two main schools of thought for the techniques that you can use. Freshly scrambled eggs with applewood smoked bacon - are amazing!</div>
          <div class="sect-4-image"></div>
          <div class="special-text name">lissa durbin</div>
          <div class="role">Client</div>
        </section>

        <!-- sezione 5 -->
        <section class="sect-5">
          <div class="title">Latest News & Our <span class="special-text">Blog</span></div>
          <div class="sect-5-content">
            <div class="box">
              <div class="img-container"><img src="img/serious-businesswoman-with-documents-talking-on-P9Q6LX6-1024.jpg" alt=""></div>
              <div class="post-info">
                <div class="post-date">May 24, 2018 -by Alex</div>
                <div class="post-title"><i class="fas fa-circle special-text"></i>Marketing Ideas</div>
              </div>
            </div>
            <div class="box">
              <div class="img-container"><img src="img/Businessman-at-the-desk-in-his-office-resting--1024x768.jpg" alt=""></div>
              <div class="post-info">
                <div class="post-date">May 24, 2018 -by Alex</div>
                <div class="post-title"><i class="fas fa-circle special-text"></i>Rest During Working Hours</div>
              </div>
            </div>
            <div class="box">
              <div class="img-container"><img src="img/simple-home-office-with-tree-PBXRXYB-large-1024x768.jpg" alt=""></div>
              <div class="post-info">
                <div class="post-date">May 24, 2018 -by Alex</div>
                <div class="post-title"><i class="fas fa-circle special-text"></i>Develop Your Startup Idea</div>
              </div>
            </div>
          </div>
          <button class="black-button">view all post</button>
        </section>

        <!-- sezione 6 -->
        <section class="sect-6">
          <div class="sect-6-box box-1">
            <div class="box-text">Are You Ready?</div>
            <div class="box-title">Start a New Project</div>
            <div class="dark-input">
              <input placeholder="Enter Your Email Address">
              <button>submit</button>
            </div>
          </div>
          <div class="sect-6-box box-2">
            <div class="box-text">What Are You Waiting for?</div>
            <div class="box-title">Let's Talk About Work</div>
            <button class="black-button">start now</button>
          </div>
          <div class="brands">
            <img src="img/client-1-2x.png" alt="">
            <img src="img/client-9-2x.png" alt="">
            <img src="img/client-7-2x.png" alt="">
            <img src="img/client-3-2x.png" alt="">
            <img src="img/client-4-2x.png" alt="">
            <img src="img/client-5-2x.png" alt="">
          </div>
        </section>
      </main>

      <footer class="footer">
        <div class="footer-content">
          <div class="box">
            <img class="logo-img" src="img/cropped-Group-39-2x.png" alt="">
            <div class="text">While the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees.While the lovely valley teems with vapour around me.</div>
          </div>
          <div class="box">
            <div class="footer-title">quick links</div>
            <ul>
              <li class="text" v-for="el in footerLinks">{{el.name}}</li>
            </ul>
          </div>
          <div class="box">
            <div class="footer-title">contact</div>
            <div class="contact text">
              <div>Patricia C. Amedee 4401 Waldeck Street Grapevine Nashville, TX 76051</div>
              <div>info@yourdomain.com</div>
              <div>+99 (0) 101 0000 888</div>
            </div>
          </div>
          <div class="box">
            <div class="footer-title">location on map</div>
            <img class="map-img" src="img/map.png" alt="">
          </div>
        </div>
        <div class="footer-bottom">
          <div>© 2020 PHLOX BUSINESS THEME.</div>
          <div>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest-p"></i>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>

</html>
