// *****ANIMISTA*****

// per immagini jumbotron
@keyframes slide-in-right {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// per titolo jumbotron
@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

// per numero slider jumbotron
@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
