$top-nav-bg: #3d3d3d;
$top-nav-color: #ffffff;
$nav-color: #3d3d3d;
$nav-bg: #ffffff;
$text-hover-color: #aaaaaa;
$special-text-color: #00d9a6;
$lighter-bg: #ffffff59;
$darker-bg: #f9f9f9;
$green-gradient: linear-gradient(269deg, #00d9a6 0%, #9be15d 100%);
$green-gradient-reverse: linear-gradient(269deg, #9be15d 0%, #00d9a6 100%);
$black-gradient: linear-gradient(271deg, #0c0c0c 0%, #474747 100%);
$black-gradient-reverse: linear-gradient(271deg, #474747 0%, #0c0c0c 100%);
