@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin color1-button {
  text-transform: uppercase;
  color: white;
  font-family: $title-font;
  font-weight: 500;
  border: none;
  border-radius: 40px;
  background: $color1-gradient;
  box-shadow: $color1-shadow;
  padding: 16px 40px;
  position: relative;
  z-index: 1;
  transition: box-shadow .4s;
  // ****linear grdient non supporta le transition!!
  &:before {
    background: $black-gradient;
    box-shadow: $black-shadow;
    border-radius: 40px;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity .4s;
  }
  &:hover:before {
    opacity: 1;
  }
  &:hover {
    box-shadow: $black-shadow;
  }
}

@mixin black-button {
  text-transform: uppercase;
  color: white;
  font-family: $title-font;
  font-weight: 500;
  border: none;
  border-radius: 40px;
  background: $black-gradient;
  box-shadow: $black-shadow;
  padding: 16px 40px;
  position: relative;
  z-index: 1;
  transition: box-shadow .4s;
  // ****linear grdient non supporta le transition!!
  &:before {
    background: $color1-gradient;
    box-shadow: $color1-shadow;
    border-radius: 40px;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity .4s;
  }
  &:hover:before {
    opacity: 1;
  }
  &:hover {
    box-shadow: $color1-shadow;
  }
}

@mixin top-title {
  font-family: $title-font;
  text-transform: uppercase;
  font-weight: 600;
  color: $color2;
  letter-spacing: 6px;
}

@mixin main-title {
  font-family: $title-font;
  font-size: 62px;
  font-weight: 700;
  line-height: 62px;
  position: relative;
  &:before {
    @include divider;
    width: 10px;
    left: 0;
    bottom: -40px;
  }
  &:after {
    @include divider;
    width: 40px;
    left: 20px;
    bottom: -40px;
  }
}

@mixin title {
  font-family: $title-font;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  &:before {
    @include divider;
    width: 10px;
    left: 0;
    bottom: -40px;
  }
  &:after {
    @include divider;
    width: 40px;
    left: 20px;
    bottom: -40px;
  }
}

@mixin small-title {
  font-family: $title-font;
  font-size: 30px;
  font-weight: 500;
}

@mixin text {
  font-family: $text-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@mixin divider {
  content: '';
  height: 5px;
  background: $color1-gradient;
  border-radius: 5px;
  position: absolute;
}

$title-font: 'Quicksand', sans-serif;
$text-font: 'Ubuntu', sans-serif;

$header-font-size: 14px;

$section-padding: 150px 0;
