* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "_var";
@import "_colors";
@import "_animations";

// *****INIZIO CLASSI UTILITY*****
.top-title {
  @include top-title;
}

.main-title {
  @include main-title;
}

.title {
  @include title;
}

.small-title {
  @include small-title;
}

.text {
  @include text;
}

.special-text {
  color: $color1;
}

.color1-button {
  @include color1-button;
}

.black-button {
  @include black-button;
}

// *****FINE CLASSI UTILITY*****

section {
  padding: $section-padding;
}

ul {
  list-style: none;
}

img, i, li, button {
  cursor: pointer;
}

.animate-btn {
  opacity: 0;

  &.animated {
    animation: slide-in-top 1s ease-out;
    opacity: 1;
  }
}

.animate-title {
  opacity: 0;

  &.animated {
    animation: slide-in-left 1s ease-out;
    opacity: 1;
  }
}

// *****INIZIO HEADER*****
header {
  width: 100%;
  box-shadow: 0 4px 44px 0 rgb(0 0 0 / 14%);
  font-size: $header-font-size;
  position: fixed;
  z-index: 10;

  .top-nav {
    @include flex-space-btw;
    background: $top-nav-bg;
    color: $top-nav-color;
    font-family: $text-font;
    padding: 10px 50px;

    * {
      margin: 0 8px;
    }

    i {
      font-size: 16px;
    }
  }

  .nav {
    @include flex-space-btw;
    font-family: $title-font;
    background: $nav-bg;
    padding: 22px 50px;

    img {
      width: 180px;
    }

    ul {

      li {
        color: $nav-color;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 15px;
        &:hover {
          color: $text-hover-color;
        }
      }

      li:first-child {
        color: black;
        font-weight: 600;
      }
    }

    &-button {

      button {
        margin: 0 13px;
      }

      i {
        font-size: 17px;
        color: $color1;
        margin: 0 13px;
      }
    }
  }
}
// *****FINE HEADER*****

// *****INIZIO JUMBOTRON*****
.jumbotron {
  background-color: $darker-bg;
  overflow: hidden;
  position: relative;
  top: 128.8px;

  img {
    width: 1060px;
    position: absolute;
    top: -40px;
    right: -220px;
	  animation: slide-in-left 1s ease-out;
  }

  &-content {
    width: 650px;
    margin: 130px 0 130px 120px;

    .main-title {
      margin: 20px 0;
      animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    .text {
      margin: 100px 0 50px 0;
    }

    button {
      margin: 10px 0;
    }

    .socials {
      font-family: $title-font;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 50px 0;

      span {
        padding: 0 5px;
        cursor: pointer;
      }
    }

    .slider-num {
      font-family: $title-font;
      font-weight: 500;
      color: white;
      background: $grey-gradient;
      box-shadow: $black-shadow;
      border-radius: 40px;
      display: flex;
      align-items: center;
      z-index: 1;
      position: absolute;
      right: 45%;
      bottom: 20%;

        span {
          color: #e5e3df;
          padding: 10px 18px;
          margin: 2px;
          border-radius: 30px;
          cursor: pointer;
          position: relative;

          &:before {
            width: 100%;
            height: 100%;
            content: "";
            background: $color1-gradient;
            border-radius: 30px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
          }
        }

        span.selected {

          &:before {
            opacity: 1;
            animation: slide-in-right-jumbotron 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
          }
        }
    }
  }
}
// *****FINE JUMBOTRON*****

// *****INIZIO SEZIONE 1*****
.sect-1 {
  display: flex;
  background-color: $lighter-bg;
  overflow: hidden;

  &-left {
    width: 45%;
    padding: 70px 90px;

    button {
      margin-top: 100px;
    }
  }

  &-right {
    @include flex-wrap;
    width: 55%;

    .box {
      width: calc(55% - 90px);
      border-radius: 20px;
      box-shadow: 6px 6px 20px 0 #0c0c0c20;
      padding: 30px;
      margin: 20px;
      position: relative;
      z-index: 1;
      opacity: 0;

      &.animated {
        animation: slide-in-left 1s ease-out;
        opacity: 1;
      }

      > * {
        padding: 15px 0;
      }
      // ****linear grdient non supporta le transition!!
      &:before {
        width: 100%;
        height: 100%;
        content: "";
        background: $color2-gradient;
        box-shadow: $color1-shadow;
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity .5s;
      }
      &:hover:before {
        opacity: 1;
      }
      &:hover {
        color: #fff;

        i {
          color: #fff;
        }
      }

      i {
        color: $color1;
        font-size: 56px;
      }
    }
  }
}
// *****FINE SEZIONE 1*****

// *****INIZIO SEZIONE 2*****
.sect-2 {
  display: flex;
  background-color: $darker-bg;

  .images {
    width: 50%;

    &.animated {

      .under-img {
        left: -30px;
      }

      .over-img-container {
        left: 150px;
      }

      .over-img {
        transform: scale(1.15);
      }
    }

    .under-img {
      width: 600px;
      height: 450px;
      border-radius: 20px;
      position: absolute;
      left: - 50px;
      z-index: 0;
      background-image: $color2-gradient-faded, url('../img/busy-architect-PYVKWM4-1024x872.jpg');
      background-size: contain;
      transition: left .8s;
     }

    .over-img-container {
      width: 550px;
      height: 450px;
      border-radius: 20px;
      position: relative;
      left: 60px;
      top: 60px;
      overflow: hidden;
      transition: left 1s;

      .over-img {
        width: 100%;
        height: 100%;
        transition:transform 1.5s;
      }
    }
  }

  &-content {
    width: 50%;
    padding: 80px 50px;

    .text {
      margin: 80px 0 40px 0;
    }
  }
}
// *****FINE SEZIONE 2*****


// *****INIZIO SEZIONE 3*****
.sect-3 {
  background-color: $lighter-bg;
  margin: 0 20px;

  &-content {
    display: flex;
    align-items: flex-end;
    position: relative;

    &:before {
      @include divider;
      width: 10px;
      left: 20px;
      top: -20px;
    }
    &:after {
      @include divider;
      width: 40px;
      left: 40px;
      top: -20px;
    }

    .title {
      width: 50%;
      margin: 20px 5px 20px 20px;
    }

    .text {
      width: 50%;
      margin: 20px 20px 20px 5px;
    }
  }

  &-images {
    @include flex-wrap;
    padding: 80px 20px;

    .project-box {
      width: 25%;
      transition: transform .3s;
      position: relative;

      &:hover {
        transform: scale(1.15);
        z-index: 1;

        .hover-text {
          opacity: 1;

          * {
            top: 0;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        padding: 2px;
        border-radius: 10px;
      }

      .hover-text {
        @include flex-column;
        justify-content: flex-end;
        // la grandezza dev'essere uguale a quella dell'img (quindi sottraggo i padding)
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        padding: 50px 40px;
        border-radius: 10px;
        background: $color2-gradient-faded;
        position: absolute;
        top: 2px;
        left: 2px;
        opacity: 0;
        transition: opacity 1s;

        > * {
          padding-top: 10px;
          cursor: pointer;
          position: relative;
          top: 120px;
          transition: top .7s;
        }

        .project-title {
          font-family: $title-font;
          font-size: 20px;
          font-weight: 700;
          color: #fff;
        }

        .project-links {
          font-family: $title-font;
          font-weight: 600;
          font-size: 13px;
          color: #fff;
          text-transform: uppercase;

          i {
            font-size: 3px;
            color: #aaa;
            padding: 0 5px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  &-button {
    @include flex-center;
    margin: 50px 0;
  }
}
// *****FINE SEZIONE 3*****

// *****INIZIO SEZIONE 4******
.sect-4 {
  @include flex-column;
  align-items: center;
  justify-content: center;
  height: 800px;
  background-image: $black-gradient-faded,
  url('../img/four-businesspeople-in-a-boardroom-with-paperwork-PC4V8H4.jpg');
  background-size: cover;
  background-position: center;

  i {
    font-size: 60px;
  }

  .quote {
    width: 55%;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    color: #f9f9f9;
    padding: 50px 0;
    line-height: 50px;
    opacity: 0;

    &.animated {
      animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      opacity: 1;
    }
  }

  &-bottom {
    opacity: 0;
    text-align: center;
    font-size: 20px;

    &.animated {
      animation: slide-in-top 1s ease-out;
      opacity: 1;
    }

    .sect-4-image {
      width: 100px;
      height: 100px;
      border: 5px solid #f5f5f5;
      border-radius: 50%;
      background-image: url('../img/businesswoman-analysing-document-P8WSNMC-1024x820.jpg');
      background-size: cover;
      background-position: center;
      margin: 0 auto;
    }

    .name {
      text-transform: uppercase;
      font-weight: 500;
      font-family: $title-font;
      padding: 40px 0 10px 0;
    }

    .role {
      font-family: 'Nunito', sans-serif;
      color: #f9f9f9;
    }
  }
}
// *****FINE SEZIONE 4*****

// *****INIZIO SEZIONE 5*****
.sect-5 {
  @include flex-column;
  align-items: center;
  background-color: $lighter-bg;

  .title {
    margin: 0 0 50px 0;
    &:before {
      left: 45%;
    }

    &:after {
      left: 49%;
    }
  }

  &-content {
    @include flex-center;
    margin: 30px 0;

    .box {
      width: calc(33% - 20px);
      position: relative;
      margin: 0 10px;

      &:hover {
        img {
          transform: scale(1.05);
        }

        .post-info {
          color: #fff;
          bottom: -60px;

          &:before {
            opacity: 1;
          }

          .post-date {
            color: #fff;
          }
        }
      }

      .img-container {
        overflow: hidden;
        border-radius: 10px;

        img {
          width: 100%;
          // spazio bianco sotto img perché di default il vertical align è baseline --> sistemato con bottom
          vertical-align: bottom;
          border-radius: 10px;
          box-shadow: 10px 10px 20px 10px #0c0c0c20;
          transition: transform 0.5s;
        }
      }

      .post-info {
        position: absolute;
        z-index: 1;
        bottom: -40px;
        left: 10%;
        background-color: #fff;
        width: 80%;
        border-radius: 5px;
        padding: 30px 20px;
        box-shadow: 5px 5px 20px 0 #0c0c0c20;
        transition: bottom .5s;

        &:before {
          width: 100%;
          height: 100%;
          content: "";
          background: $color2-gradient;
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          opacity: 0;
          transition: opacity .5s;
        }

        .post-date {
          font-family: $text-font;
          font-size: 13px;
          font-weight: 500;
          color: #aaa;
          margin-bottom: 10px;
          margin-left: 20px;
        }

        .post-title {
          font-family: $title-font;
          font-weight: 700;
          font-size: 22px;

          i {
            padding-right: 6px;
            font-size: 10px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  button {
    margin-top: 80px;
  }
}
// *****FINE SEZIONE 5*****

// *****INIZIO SEZIONE 6*****
.sect-6 {
  @include flex-wrap;
  background-image: linear-gradient($lighter-bg 20%, $darker-bg 40%);

  &-box {
    @include flex-column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 30px);
    padding: 50px 0;
    border-radius: 10px;

    .box-text {
      font-family: $title-font;
      color: #e5e3df;
    }

    .box-title {
      font-family: $title-font;
      color: #f5f5f5;
      font-size: 32px;
      font-weight: 600;
      padding: 20px 0 60px 0;
    }

    .dark-input {
      @include flex-space-btw;
      width: 60%;
      border-radius: 40px;
      background: linear-gradient(271deg, #555 0%, #444 100%);
      box-shadow: $black-shadow;
      padding: 15px 20px;

      > * {
        font-family: $title-font;
        border: none;
        outline: none;
        background-color: transparent;
      }

      input {
        width: 60%;
        color: white;
        font-weight: 600;
      }

      button {
        text-transform: uppercase;
        color: #f5f5f5;
      }
    }
  }

  .box-1 {
    background: $black-gradient;
    margin: 10px 10px 10px 20px;
    opacity: 0;

    &.animated {
      animation: slide-in-right 1s ease-out;
      opacity: 1;
    }
  }

  .box-2 {
    background: $color2-gradient;
    margin: 10px 20px 10px 10px;
    opacity: 0;

    &.animated {
      animation: slide-in-left 1s ease-out;
      opacity: 1;
    }
  }

  .brands {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;

    img {
      width: 100px;
      opacity: 0;

      &.animated {
        animation: slide-in-left 1s ease-out;
        opacity: 1;
      }
    }
  }
}
// *****FINE SEZIONE 6*****

// *****INIZIO FOOTER*****
.footer {
  color: $footer-color;

  &-content {
    display: flex;
    background: $lighter-bg;
    padding: 130px 30px;

    .box {
      width: 25%;
      padding: 0 20px;

      .footer-title {
        font-family: $title-font;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        &:before {
          @include divider;
          width: 10px;
          left: 0;
          bottom: -20px;
        }

        &:after {
          @include divider;
          width: 40px;
          left: 20px;
          bottom: -20px;
        }
      }

      .logo-img {
        margin-bottom: 20px;
        cursor: pointer;
      }

      ul {
        margin-top: 40px;

        li {
          margin: 5px 0;

          &:hover {
            color: $color1;
          }
        }
      }

      .contact {
        margin-top: 40px;

        div {
          margin-bottom: 20px;
        }
      }
    }

    .map-img {
      width: 100%;
      margin-top: 50px;
    }
  }

  &-bottom {
    @include flex-space-btw;
    background: $black-gradient;
    color: #aaa;
    font-family: $text-font;
    font-size: 13px;
    padding: 40px 50px;

    i {
      margin: 0 5px;
      font-size: 15px;
    }
  }
}
// *****FINE FOOTER*****
