* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "_var";
@import "_colors";

header {
  box-shadow: 0 4px 44px 0 rgb(0 0 0 / 14%);
  font-size: $header-font-size;

  .top-nav {
    @include header-display;
    background: $top-nav-bg;
    color: $top-nav-color;
    font-family: $text-font;
    padding: 12px 50px;

    * {
      margin: 0 7px;
    }

    i {
      @include icons;
    }
  }

  .nav {
    @include header-display;
    font-family: $title-font;
    background: $nav-bg;
    padding: 25px 50px;

    img {
      width: 200px;
      cursor: pointer;
    }

    ul {
      list-style: none;

      li {
        @include nav-links;
      }

      li:first-child {
        @include selected-nav-link;
      }
    }

    &-button {

      button {
        @include green-button;
        margin: 0 13px;
      }

      i {
        @include icons;
        color: #00d9a6;
        margin: 0 13px;
      }
    }
  }
}

.jumbotron {
  overflow: hidden;
  height: 800px;
  position: relative;

  img {
    width: 1050px;
    z-index: -1;
    position: absolute;
    top: -40px;
    right: -180px;
  }

  &-content {
    width: 700px;
    margin-left: 130px;

    .top-title {
      @include top-title;
    }

    .main-title {
      @include main-title;

      span {
        color: $special-text-color;
      }
    }

    .text {
      @include text;
    }
  }
}
